backports.functools-lru-cache==1.6.1
Click==7.0
cycler==0.10.0
Flask==1.1.1
gunicorn==19.10.0
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
numpy==1.16.5
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
Werkzeug==0.16.0
