<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Graficas</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    
    <body align="center">
        <form action="/ir_a_sube">
            <h1>Lenguaje de Programacion Python</h1> 
            <h2>Maestro:</h2>
            <h3>J. Reyes Benavides Delgado </h3>
            <h2>Integrantes</h2>
            <h3>- Rigoberto Ramírez Vega</h3>
            <h3>- Daniel Hernandez Pizano</h3>
            <h3>- Luis Eduardo Orozco Franco</h3>
            <br>
            <br>
            <button type="submit" id="boton">Subir archivo</button>
        </form>
    </body>
</html>
